body{
  margin: 0;
  padding: 0;


 }

.app{
min-height: 100vh;
position: relative;
padding-top: 2rem;
padding-bottom: 4rem;

}


 
.darkMode{
  
  background-color: black;
 

}
.whiteMode{
  background-color: white;

}


h2{
  color: white;
  text-align: center;
}

button{
  
  /* display: inline-block; */
  padding: 0.2rem 0.9rem;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border: 2px solid #4CAF50;
  border-radius: 1px;
  color: #ffffff;
  background-color: #0cfb14c2;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;

}



/* Styles for the switch button */
.switch {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 20px;
  right: 4rem;

}

.switch input {
 
  opacity: 0;
  width: 0;
  height: 0;

}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 34px;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.h1 .darkMode{
  color: white;
}

.h1.lightMode{
  color: black;
}


@media (max-width:1200px)
{
  .app{
    height:100%;
  }
  .switch{
    right: 1rem;
    top:1rem;
    width: 35px;
  }
}
